body{
padding: 0;
margin: 0;
box-sizing: border-box;
width: 100%;
height: calc(100vw * 9 / 16);
overflow: hidden;
background-image: url(../img/Desert-Background.jpg);
background-repeat: no-repeat;
background-position: center;
background-size: cover;
position: relative;
}
.sipariotop-movie-top{
  position: absolute;
  top:0;
  z-index: 1;
  animation-name: sipariotop;
  animation-duration: 5s;
  animation-fill-mode: linear;
}
.siaprio-movie-sx{
  position: absolute;
  left:0;
  animation-name: sipariosx;
  animation-duration: 5s;
  animation-fill-mode: linear;
}
@keyframes sipariotop {
  0%{
    top:0;
  }
  25%{
    top:-25%;
  }
  50%{
    top:-50%;
  }
  75%{
    top:-75%;
  }
  100%{
    top:-100%;
  }
}
@keyframes sipariosx {
  0% {
    left:0;
  }
  25% {
    left: -25%;
  }
  50%{
    left: -50%;
  }
  75%{
    left: -75%;
  }
  100%{
    left: -100%;
  }
}
