body{
padding: 0;
margin: 0;
box-sizing: border-box;
width: 100%;
height: calc(100vw * 9 / 16);
overflow: hidden;
background-image: url(../img/Desert-Background.jpg);
background-repeat: no-repeat;
background-position: center;
background-size: cover;
position: relative;
z-index: -1;
}
.sipariotop-movie-top{
  position: absolute;
  top:0;
  z-index: 1;
  animation-name: sipariotop;
  animation-duration: 5s;
  animation-fill-mode: linear;
}
.siaprio-movie-sx{
  position: absolute;
  left:0;
  animation-name: sipariosx;
  animation-duration: 5s;
  animation-fill-mode: linear;
}
.sipario-movie-dx{
  position: absolute;
  right:0;
  animation-name: sipariodx;
  animation-duration: 5s;
  animation-fill-mode: linear;
}
@keyframes sipariotop {
  0%{
    top:0;
  }
  25%{
    top:-25%;
  }
  50%{
    top:-50%;
  }
  75%{
    top:-75%;
  }
  100%{
    top:-100%;
  }
}
@keyframes sipariosx {
  0% {
    left:0;
  }
  25% {
    left: -25%;
  }
  50%{
    left: -50%;
  }
  75%{
    left: -75%;
  }
  100%{
    left: -100%;
  }
}
@keyframes sipariodx {
  0%{
    right:0;
  }
  25%{
    right:-25%;
  }
  50%{
    right:-50%;
  }
  75%{
    right:-75%;
  }
  100%{
    right:-100%;
  }
}
.hidden{
  display: none;
}
/* movimentteazione sipario */
h1 {
  display: block;
  position: absolute;
  height: 200px;
  width: 300px;
  background-color: red;
  text-align: center;
  vertical-align: middle;
  line-height: 200px;
  text-transform: uppercase;
  cursor: pointer;
  left: 40%;
  top:10%;
}
/* bersagli */
.bersaglio1 {
  background-image: url(../img/air-balloon.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  left:15%;
  width: 12%;
  height: 33%;
  cursor: pointer;
}
.bersaglio2{
  background-image: url(../img/dragon.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  left:45%;
  width: 12%;
  height: 23%;
  cursor: pointer;
}
.bersaglio3{
  background-image: url(../img/eagle.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  left:75%;
  width: 16%;
  height: 20%;
  cursor: pointer;
}
.bersaglio4{
  background-image: url(../img/gunman1.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  left:15%;
  top:45%;
  width: 12%;
  height: 33%;
  cursor: pointer;
}
.bersaglio5{
  background-image: url(../img/gunman3.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  left:45%;
  top:50%;
  width: 12%;
  height: 33%;
  cursor: pointer;
}
.bersaglio6{
  background-image: url(../img/helicopter.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  left:75%;
  top:50%;
  width: 12%;
  height: 33%;
  cursor: pointer;
}
